<div class="card m-auto login-card">
    <div class="card-header login-card-header">
      <p class="m-auto">Login Now</p>
    </div>
    <div class="card-body">
      <input class="form-control mr-sm-2 mb-3" type="email" placeholder="Email" aria-label="Email">
      <input class="form-control mr-sm-2 mb-3" type="password" placeholder="Password" aria-label="Password">
      <span>
        <a href="">Forgot Password ?</a>
      </span>
      <button class="btn btn-sm btn-primary btn-block mt-3">Log in</button>
    </div>
    <div class="card-footer text-muted">
        Don't have an account ? <a [routerLink]="[applicationPaths.register]">Signup here!</a>
    </div>
</div>