<div class="card m-auto login-card">
    <div class="card-header login-card-header">
      <p class="m-auto">Login Now</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="card-body">
        <input class="form-control mr-sm-2 mb-3" type="email" placeholder="Email" aria-label="Email" formControlName="email">
        <input class="form-control mr-sm-2 mb-3" type="password" placeholder="Password" aria-label="Password" formControlName="password">
        <span>
          <a href="">Forgot Password ?</a>
        </span>
        <button class="btn btn-sm btn-primary btn-block mt-3" type="submit" [disabled]="loginForm.invalid">
          Log in
        </button>
      </div>
    </form>
    <div class="card-footer text-muted">
        Don't have an account ? <a [routerLink]="[applicationPaths.register]">Signup here!</a>
    </div>
</div>