.product-list-container{
    margin-top: 4rem;
    max-width: 98%;
}

.custom-card{
    width: 18rem;
}

.imgStyle{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 154px;
    width: 213px;
}

.prod-description{
    text-transform: capitalize;
}